<div class="relative h-full overflow-hidden p-3 pb-0 ">
  <div
    class="rounded-2xl"
    style="
      background-image: url('assets/cinema.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;"
      >
  </div>
  <div class=" flex flex-row  absolute left-1/2 transform -translate-x-1/2 top-10">
    <img
      ngSrc="{{ 'assets/cinema.png' }}"
      width="180"
      height="150"
      alt="popcorn"
    />
  </div>

//UPCOMING MOVIES
  <div class="absolute bottom-20 left-0 right-0 h-1/2">
    <div class="flex flex-row justify-between items-center h-full">

      <div class="text-white shadow-2xl rounded-3xl border-y-2 bg-red-500/10 m-2 md:m-4 md:ml-20 p-2 md:p-10 backdrop-blur-md border-red-800 text-lg md:text-3xl font-bold">
        <img
          ngSrc="{{ 'assets/gladiator.jpg' }}"
          width="250"
          height="200"
          alt="gladiator"
        />
      </div>
      <div class="text-white shadow-2xl rounded-3xl border-y-2 bg-red-500/10 m-2 md:m-4 p-2 md:p-10 backdrop-blur-md border-red-800 text-lg md:text-3xl font-bold">
        <img
          ngSrc="{{ 'assets/dp3.jpg' }}"
          width="250"
          height="200"
          alt="deadpool 3"
        />
      </div>
      <div class="text-white shadow-2xl rounded-3xl border-y-2 bg-red-500/10 m-2 md:m-4 p-2 md:p-10 backdrop-blur-md border-red-800 text-lg md:text-3xl font-bold">
        <img
          ngSrc="{{ 'assets/dune.jpg' }}"
          width="250"
          height="200"
          alt="dune"
        />
      </div>
      <div class="text-white shadow-2xl rounded-3xl border-y-2 bg-red-500/10 m-2 md:m-4 md:mr-20 p-2 md:p-10 backdrop-blur-md border-red-800 text-lg md:text-3xl font-bold">
        <img
          ngSrc="{{ 'assets/godzilla.jpg' }}"
          width="250"
          height="200"
          alt="godzilla vs kong"
        />
      </div>


  </div>

</div>


