<div class="p-0 mt-10 flex items-center justify-center">
  <div
    class="p-8 rounded-2xl shadow-md w-full mx-10 border-y-2 border-red-600 dark:border-2 dark:border-red-800 dark:bg-zinc-800 dark:text-gray-300 transition-colors"
  >
    <form (submit)="editMovie()" class="w-full">
      @if (movie){
      <div class="grid grid-cols-2 gap-4">
        <div class="mb-4">
          <label for="title" class="block text-red-700 uppercase">Title</label>
          <input
            [(ngModel)]="movie.title"
            name="title"
            id="title"
            class="w-full bg-zinc-100 dark:bg-zinc-800 text-zinc-800 dark:text-gray-300 transition-colors border-2 dark:border-zinc-700 rounded-2xl p-2"
          />
        </div>

        <div class="mb-4">
          <label for="releaseDate" class="block text-red-700 uppercase"
            >Release Date</label
          >
          <input
            [(ngModel)]="movie.releaseDate"
            type="date"
            name="releaseDate"
            id="releaseDate"
            class="w-full bg-zinc-100 dark:bg-zinc-800 text-zinc-800 dark:text-gray-300 transition-colors border-2 dark:border-zinc-700 rounded-2xl p-2"
          />
        </div>

        <div class="mb-4">
          <label for="description" class="block text-red-700 uppercase"
            >Description</label
          >
          <textarea
            [(ngModel)]="movie.description"
            name="description"
            id="description"
            class="w-full bg-zinc-100 dark:bg-zinc-800 text-zinc-800 dark:text-gray-300 transition-colors border-2 dark:border-zinc-700 rounded-2xl p-2"
          ></textarea>
        </div>

        <div class="mb-4">
          <label for="genre" class="block text-red-700 uppercase">Genre</label>
          <input
            [(ngModel)]="movie.genre"
            name="genre"
            id="genre"
            class="w-full bg-zinc-100 dark:bg-zinc-800 text-zinc-800 dark:text-gray-300 transition-colors border-2 dark:border-zinc-700 rounded-2xl p-2"
          />
        </div>

        <div class="mb-4">
          <label for="duration" class="block text-red-700 uppercase"
            >Duration</label
          >
          <input
            [(ngModel)]="movie.duration"
            min="1"
            max="5"
            type="number"
            name="duration"
            id="duration"
            class="w-full bg-zinc-100 dark:bg-zinc-800 text-zinc-800 dark:text-gray-300 transition-colors border-2 dark:border-zinc-700 rounded-2xl p-2"
          />
        </div>
        <div class="mb-4">
          <label for="duration" class="block text-red-700 uppercase"
            >Rating</label
          >
          <app-rating [rating]="movie.rating!"></app-rating>
          <!--        <input-->
          <!--          [(ngModel)]="movie.rating"-->
          <!--          max="5"-->
          <!--          type="number"-->
          <!--          name="rating"-->
          <!--          id="rating"-->
          <!--          class="w-full bg-zinc-100 dark:bg-zinc-800 text-zinc-800 dark:text-gray-300 transition-colors border-2 dark:border-zinc-700 rounded-2xl p-2"-->
          <!--        />-->
        </div>
      </div>
      <div class="mb-5">
        <button
          type="submit"
          class="mt-4 bg-red-700 text-white px-4 py-2 rounded-full"
        >
          Submit
        </button>
      </div>
      }

      <div
        class="flex justify-between flex-col mb-4 border-2 rounded-2xl p-5 border-red-500/80 dark:border-red-800/80"
        *ngFor="let session of movie?.movieSessions"
      >
        <div class="flex flex-col">
          <div>
            <label class="block text-red-700 uppercase">Start time</label>
            <p>{{ dateAndTimeToString(session.startTime) }}</p>
            <label class="block text-red-700 uppercase">End time</label>
            <p>
              {{ dateAndTimeToString(session.endTime) }}
              <label class="block text-red-700 uppercase">Price</label>
            </p>

            <p>{{ session.price }} €</p>
          </div>

          <div
            (click)="deleteSessionTime(session)"
            class="flex justify-end gap-1.5"
          >
            <span class="text-red-500 mdi mdi-delete-circle mdi-24px"></span>
          </div>
        </div>
      </div>
      <div (click)="addSessionTime()">
        <span class="text-red-500 mdi mdi-plus-circle mdi-36px"></span>
      </div>
    </form>
  </div>
</div>

<app-modal-window
  *ngIf="isModalWindowOpen"
  [title]="movie!.title"
  [id]="movie!.id!"
  [duration]="movie!.duration"
  (closeModalEvent)="closeModalWindow($event)"
/>

<app-delete-modal-window
  *ngIf="showDeleteModal"
  [movie]="movie!"
  [showModal]="showDeleteModal"
  [isSessionTimeDelete]="true"
  [sessionTime]="selectedSession"
  (closeModal)="closeModal()"
  (deleteMovie)="deleteSessionTimeConfirmed($event)"
></app-delete-modal-window>
