<div>
  <table>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>description</th>
      <th>duration</th>
      <th>rating</th>
      <th>genre</th>
      <th>rating</th>
    </tr>
    @for (movie of movies; track movie.id) {
    <tr>
      <td>{{ movie.id }}</td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.description }}</td>
      <td>{{ movie.duration }}</td>
      <td>{{ movie.rating }}</td>
      <td>{{ movie.genre }}</td>
      <td>{{ movie.releaseDate }}</td>
    </tr>
    }
  </table>
</div>
