<!-- component -->
<!-- MDI Icons -->
<link
  rel="stylesheet"
  href="https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css"
/>
<!-- Navigation Bar -->
<div class="flex justify-center w-full p-3">
  <div
    class="px-5 w-full flex justify-between items-center bg-white shadow-lg rounded-2xl dark:bg-zinc-800 z-10 transition-colors"
  >
    <a
      href="https://www.youtube.com/watch?v=pihE-4HWZx0"
      class="flex items-center space-x-2 hover:bg-gray-400/30 rounded-lg p-2 transition-colors duration-200 h-fit"
    >
      <img
        ngSrc="{{ 'assets/cinema.png' }}"
        class="mr-3 h-6 sm:h-9"
        width="36"
        height="36"
        alt="Greg"
      />
      <span
        class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
        >SlimCinema</span
      >
    </a>
    <div class="flex flex-row space-x-3">
      <!-- Item #1 -->
      <div class="flex group">
        <a
          routerLink="/home"
          routerLinkActive="active"
          class="p-3 text-gray-400 hover:text-red-500 dark:hover:text-red-500"
        >
          <span class="flex flex-col items-center">
            <!-- Icon -->
            <i
              class="active-icon mdi mdi-home-outline mdi-24px mx-1 text-gray-500 group-hover:text-red-500 dark:group-hover:text-red-500 duration-200 active:text-amber-500"
            ></i>

            <!-- Text -->
            <span class="active-text text-xs mb-2 transition-all duration-200">
              Home
            </span>

            <!-- Focus Dot -->
            <span
              class="active-indicator h-2 w-2 rounded-full group-hover:bg-red-500 dark:group-hover:bg-red-500 transition-all duration-150 delay-100"
            ></span>
          </span>
        </a>
      </div>

      <!-- Item #2 -->
      <div class="flex group">
        <a
          routerLink="/movies"
          routerLinkActive="active"
          class="p-3 text-gray-400 hover:text-red-500 dark:hover:text-red-500"
        >
          <span class="flex flex-col items-center">
            <!-- Icon -->
            <i
              class="active-icon mdi mdi-filmstrip mdi-24px mx-1 text-gray-500 group-hover:text-red-500 dark:group-hover:text-red-500 transition-colors duration-200"
            ></i>

            <!-- Text -->
            <span class="active-text text-xs mb-2 transition-all duration-200">
              Movies
            </span>

            <!-- Focus Dot -->
            <span
              class="active-indicator h-2 w-2 rounded-full group-hover:bg-red-500 dark:group-hover:bg-red-500 transition-all transition-color duration-150 delay-100"
            ></span>
          </span>
        </a>
      </div>

      <!-- Item #3 -->
      @if (isAdmin) {
      <div class="flex group">
        <a
          routerLink="/movie/add"
          routerLinkActive="active"
          class="p-3 text-gray-400 hover:text-red-500 dark:hover:text-red-500"
        >
          <span class="flex flex-col items-center">
            <!-- Icon -->
            <i
              class="active-icon mdi mdi-movie-plus mdi-24px mx-1 text-gray-500 group-hover:text-red-500 dark:group-hover:text-red-500 transition-colors duration-200"
            ></i>

            <!-- Text -->
            <span class="active-text text-xs mb-2 transition-all duration-200">
              Add Movie
            </span>

            <!-- Focus Dot -->
            <span
              class="active-indicator h-2 w-2 rounded-full group-hover:bg-red-500 dark:group-hover:bg-red-500 transition-all transition-color duration-150 delay-100"
            ></span>
          </span>
        </a>
      </div>
      }

      @if (isAdmin) {
        <div class="flex group">
          <a
            routerLink="/admin"
            routerLinkActive="active"
            class="p-3 text-gray-400 hover:text-red-500 dark:hover:text-red-500"
          >
          <span class="flex flex-col items-center">
            <!-- Icon -->
            <i
              class="active-icon mdi mdi-movie-open-edit mdi-24px mx-1 text-gray-500 group-hover:text-red-500 dark:group-hover:text-red-500 transition-colors duration-200"
            ></i>

            <!-- Text -->
            <span class="active-text text-xs mb-2 transition-all duration-200">
              Add Movie
            </span>

            <!-- Focus Dot -->
            <span
              class="active-indicator h-2 w-2 rounded-full group-hover:bg-red-500 dark:group-hover:bg-red-500 transition-all transition-color duration-150 delay-100"
            ></span>
          </span>
          </a>
        </div>
      }
    </div>

    <div class="flex items-center w-fit">
      <button (click)="toggleTheme()" class="flex items-center relative mr-10">
        @if (theme === 'dark') {
        <ng-icon
          name="heroSun"
          class="absolute rotate-animate text-gray-400 hover:text-red-500"
          size="25"
        ></ng-icon>
        <ng-icon
          name="heroMoon"
          class="absolute rotate-animate-off text-gray-400 hover:text-red-500"
          size="25"
        ></ng-icon>
        } @else {
        <ng-icon
          name="heroMoon"
          class="absolute rotate-animate text-gray-400 hover:text-red-500"
          size="25"
        ></ng-icon>
        <ng-icon
          name="heroSun"
          class="absolute rotate-animate-off text-gray-400 hover:text-red-500"
          size="25"
        ></ng-icon>
        }
      </button>
      @if (isLogged) {
      <a
        class="text-gray-800 dark:text-white hover:text-red-500 dark:hover:text-red-500 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none transition-colors duration-200"
        routerLink="/profile"
      >
        {{ username }}
      </a>
      <button
        (click)="logout()"
        class="text-gray-800 dark:text-white bg-red-500 hover:text-red-100 dark:hover:text-red-200 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none transition-colors duration-200"
      >
        Log out
      </button>
      } @else {
      <a
        routerLink="/login"
        routerLinkActive="active"
        class="text-gray-800 dark:text-white hover:text-red-500 dark:hover:text-red-500 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none transition-colors duration-200"
      >
        <span class="active-text"> Log in </span>
      </a>
      }
    </div>
  </div>
</div>
