<div class="flex flex-col items-center justify-center h-full">
  <div class="flex w-full justify-center">
    <ul class="flex border-[0.75rem] border-b-0 border-white relative select-none items-center bg-gray-300 rounded-t-2xl flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400">
      <div class="slider-transition absolute flex w-fit h-full" [ngClass]="sliderBgClasses">
        <div class="absolute bottom-0 w-full h-1/2 bg-white"></div>
        <div class="static z-10 curved-side-left" ></div>
        <div class="curved-block"></div>
        <div class="static z-10 curved-side-right"></div>
      </div>
      <li class="w-28 static z-20">
        <a routerLink="../monday" routerLinkActive="active" class="inline-block p-4 hover:text-gray-600 dark:hover:text-gray-300">Monday</a>
      </li>
      <li class="w-28 static z-20">
        <a routerLink="../tuesday" routerLinkActive="active" class="inline-block p-4 hover:text-gray-600 dark:hover:text-gray-300">Tuesday</a>
      </li>
      <li class="w-28 static z-20">
        <a routerLink="../wednesday" routerLinkActive="active" class="inline-block p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300">Wednesday</a>
      </li>
      <li class="w-28 static z-20">
        <a routerLink="../thursday" routerLinkActive="active" class="inline-block p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300">Thursday</a>
      </li>
      <li class="w-28 static z-20">
        <a routerLink="../friday" routerLinkActive="active" class="inline-block p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300">Friday</a>
      </li>
    </ul>
  </div>
  <div class="rounded-3xl bg-white w-[80%] p-3">
    <div class="box-shadow rounded-2xl p-3">
      <p>d</p>
      <p>d</p>
      <p>d</p>
      <p>d</p>
    </div>
  </div>
</div>

