<div class="flex flex-col items-center justify-center h-full dark:text-white">
  <input
    class="dark:text-gray-300 p-1 mb-10 border-2 font-mono dark:border-red-800 dark:bg-red-900 rounded-2xl dark:ring dark:ring-red-500/20"
    type="date"
    [min]="minDate"
    [(ngModel)]="date"
    (change)="handleChangeDate()"
  />
  <!--  <h1 class="text-[180px]">MAS TO FIXNUTE :)</h1>-->
  <div class="flex w-full justify-center">
    <ul
      class="flex relative select-none items-center rounded-t-2xl flex-wrap text-sm font-medium text-center text-gray-500"
    >
      <div
        class="slider-transition absolute flex w-fit h-full"
        [ngClass]="sliderBgClasses"
      >
        <div
          class="absolute bottom-0 w-full h-1/2 bg-red-500 dark:bg-red-800"
        ></div>
        <div
          class="static z-10 curved-side-left transition-colors bg-gray-100 dark:bg-zinc-900"
        ></div>
        <div class="curved-block bg-red-500 dark:bg-red-800"></div>
        <div
          class="static z-10 curved-side-right transition-colors bg-gray-100 dark:bg-zinc-900"
        ></div>
      </div>
      <li class="w-28 static z-20">
        <a
          [routerLink]="'../' + getDateForDayIndex(0)"
          routerLinkActive="active"
          (click)="handleDayClick(0)"
          [ngClass]="selectedDayIndex(0) ? 'active' : ''"
          class="[&.active]:text-gray-800 [&.active]:dark:text-gray-100 inline-block p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300"
          >Sunday</a
        >
      </li>
      <li class="w-28 static z-20">
        <a
          [routerLink]="'../' + getDateForDayIndex(1)"
          routerLinkActive="active"
          (click)="handleDayClick(1)"
          [ngClass]="selectedDayIndex(1) ? 'active' : ''"
          class="[&.active]:text-gray-800 [&.active]:dark:text-gray-100 inline-block p-4 hover:text-gray-600 dark:hover:text-gray-300"
          >Monday</a
        >
      </li>
      <li class="w-28 static z-20">
        <a
          [routerLink]="'../' + getDateForDayIndex(2)"
          routerLinkActive="active"
          (click)="handleDayClick(2)"
          [ngClass]="selectedDayIndex(2) ? 'active' : ''"
          class="[&.active]:text-gray-800 [&.active]:dark:text-gray-100 inline-block p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300"
          >Tuesday</a
        >
      </li>
      <li class="w-28 static z-20">
        <a
          [routerLink]="'../' + getDateForDayIndex(3)"
          routerLinkActive="active"
          (click)="handleDayClick(3)"
          [ngClass]="selectedDayIndex(3) ? 'active' : ''"
          class="[&.active]:text-gray-800 [&.active]:dark:text-gray-100 inline-block p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300"
          >Wednesday</a
        >
      </li>
      <li class="w-28 static z-20">
        <a
          [routerLink]="'../' + getDateForDayIndex(4)"
          routerLinkActive="active"
          (click)="handleDayClick(4)"
          [ngClass]="selectedDayIndex(4) ? 'active' : ''"
          class="[&.active]:text-gray-800 [&.active]:dark:text-gray-100 inline-block p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300"
          >Thursday</a
        >
      </li>
      <li class="w-28 static z-20">
        <a
          [routerLink]="'../' + getDateForDayIndex(5)"
          routerLinkActive="active"
          (click)="handleDayClick(5)"
          [ngClass]="selectedDayIndex(5) ? 'active' : ''"
          class="[&.active]:text-gray-800 [&.active]:dark:text-gray-100 inline-block p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300"
          >Friday</a
        >
      </li>
      <li class="w-28 static z-20">
        <a
          [routerLink]="'../' + getDateForDayIndex(6)"
          routerLinkActive="active"
          (click)="handleDayClick(6)"
          [ngClass]="selectedDayIndex(6) ? 'active' : ''"
          class="[&.active]:text-gray-800 [&.active]:dark:text-gray-100 inline-block p-4 hover:text-gray-600 dark:hover:text-gray-300"
          >Saturday</a
        >
      </li>
    </ul>
  </div>
  <div class="rounded-3xl bg-red-500 dark:bg-red-800 w-[80%] p-3">
    <div class="box-shadow rounded-2xl p-3">
      <div
        class="flex flex-row justify-between font-mono border-2 dark:bg-zinc-800/30 bg-gray-100/90 px-3 rounded-2xl backdrop-blur-sm border-white m-3"
        *ngFor="let movie of movies"
      >
        <p>{{ movie.movie.title }}</p>
        <p *ngFor="let session of movie.sessions">
          <button class="mdi mdi-cart-arrow-down">
            {{ extractTime(session.startTime) }}
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
